<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>You have visited this page <%= count %> times.</p>
    <form action = "/plus2" method = "POST">
        <button>+2</button>
    </form>
    <form action = "/reset" method = "POST">
        <button>Reset</button>
    </form>
</body>
</html>