<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <h1>My Registration Form</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                 <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/process" method="POST">
        <br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="pw_confirm">Password Confirmation:</label>
        <input type="password" id="pw_confirm" name="pw_confirm">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>