<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <button [routerLink]="['/new']">New</button> 
    <h1>
      {{ title }}
    </h1>
      <div style = "align-items:middle">
        <table>
          <thead>
            <th>Author</th>
            <th>Actions available</th>
          </thead>
          <tbody>
            <tr *ngFor="let author of Authors">
              <td>{{author.name}}</td>
              <td><button [routerLink]="['/edit', author._id]">Edit</button><button (click) = "deleteSingleAuthor(author._id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
