<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Edit a fish</h1>
    <!-- read on to learn about form actions, we'll talk about the method in a later section -->
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
        <hr>
        <form action='/fishes/<%= fish._id %>' method='post'>
            Fish Name: <input type='text' name='name' value = "<%= fish.name %>">   
            <br>
            Fish Species:
            <input type = text name = 'species' value = "<%= fish.species %>">
            <br>
            <input type='submit' value='Update fish'>
        </form>    
</body>
</html>
