<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishes</title>
</head>
<body>
    <h1>Here are the fishes!</h1>
    <!-- <h1>Dojo Survey</h1>
    <h4>Fill out this survey</h4> -->
    <!-- read on to learn about form actions, we'll talk about the method in a later section -->
    <% fishes.forEach(function (fish) { %>
        <p><%= fish.name %></p> <!-- note you defined the field as Name not name -->
        <p><%= fish.species %></p>
        <form action="fishes/edit/<%= fish._id %>" method = "GET">
            <button>Edit</button>
        </form>
        <form action="fishes/destroy/<%= fish._id %>" method = "POST">
            <button>Delete</button>
        </form>
        <hr>
    <% }) %>
   <a href = "/fishes/new"><button>Add New Fish</button></a>
</body>
</html>