#register{
    width: 300px;
    display:inline-block;
}
#login{
    width: 300px;
    display:inline-block;
    vertical-align: top;
}
.linkButton{
    text-decoration: underline;
    color: blue;
    background-color: white;
    border: none;
}